<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Index</title>
    </head>
    <body>
        <h1 style="text-transform: capitalize">
            <%= category ? category : "All" %> Books
        </h1>
        <ul>
            <% for (let book of books) {%>
            <li style="margin-bottom: 20px">
                <a href="/books/<%=book.id%>" class="href"><%= book.name %></a>
            </li>
            <% } %>
        </ul>
        <!-- Back if there is a category, new book if there is no category -->
        <a href="/books<%= category ? "": "/new" %>"><%= category?"Back to All Books":"New Book" %> </a>
    </body>
</html>
